.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}
.description {
  display: grid;
  grid-template-columns: 60% 10% 10% 20%;
  justify-content: space-between;
  align-items: stretch;
  cursor: pointer;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  padding: 1rem;
}
.action {
  font-size: 4rem;
  border: 3px ridge blue;
  font-weight: bold;
  color: blue;
  text-align: center;
}
.action:hover {
  color: rebeccapurple;
  border: 3px ridge rebeccapurple;
  background: #ffffff88;
}
.input,.label {
  margin: 0.5rem;
}
.input {
  font-size: 3rem;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.center {
  max-width: var(--max-width);
  font-weight: 700;
  font-family: var(--font-mono);
  font-size: 24px;
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.5rem;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}
